{% extends "company/base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}


<p class="important">
    <div id="login" class="span3 well well-large offset4">
        <center>

            <br><br><br><br><br><br><br><br><br><br><br><br>

            <h4><p style="color: green;">Login successfully .. </p></h4><br>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </center>

    </div>
</p>

{% endblock %}
